.create-article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ffffff;

  box-sizing: border-box;
}

.create-article-card {
  width: 100%;
  max-width: 700px;
  background-color: #eceff1;
  border: 1px solid #eceff1;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.create-article-title {
  font-size: 2rem; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  color: #006064;
}

.create-article-input,
.create-article-textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #eceff1;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  margin-bottom: 20px;
  color: #212121;
  box-sizing: border-box;
}

.create-article-input:focus,
.create-article-textarea:focus {
  border-color: #29b6f6; 
  box-shadow: 0 0 6px rgba(41, 182, 246, 0.5);
}

.create-article-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  background-color: #29b6f6; 
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-article-button:hover {
  background-color: #4fc3f7;
}

.create-article-cancel-button {
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #006064;
  background-color: #ffffff;
  color: #006064;
}

.create-article-cancel-button:hover {
  background-color: #006064;
  color: #ffffff;
}

.create-article-editor {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  height: 400px;
  margin-bottom: 24px;
}
